{% extends 'base.html.twig' %}

{% block title %}Search Engine{% endblock %}

{% block body %}
    <twig:Navbar/>

    <div class="mt-4 p-5 bg-white  rounded">
        <h1> Response : </h1>
        <p>{{ dataOutput }}
        </p>
    </div>
{% endblock %}
